In [1]:
import sys
import config
import os
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import re
from sklearn.feature_extraction.text import CountVectorizer
import prep as prep
%matplotlib inline

In [45]:
os.chdir("C:\\Users\\idanh\\Documents\\תעונ שנה ד\\פרויקט גמר\\New test")
df = pd.read_csv("df.csv")
users = pd.read_csv('users.csv')
bio = pd.read_csv('bio_df.csv')

In [5]:
df[:2]

,referenced_tweets,lang,source,public_metrics,conversation_id,id,author_id,created_at,text,reply_settings,in_reply_to_user_id,geo
0,"[{'type': 'retweeted', 'id': '1508646816463523...",en,Twitter Web App,"{'retweet_count': 17, 'reply_count': 0, 'like_...",1508957066743922692,1508957066743922692,103433534,2022-03-29T23:59:34.000Z,RT @insulinforlife: From IFL USA team to a hos...,everyone,NaN,NaN
1,"[{'type': 'retweeted', 'id': '1508776971190288...",en,Twitter Web App,"{'retweet_count': 1395, 'reply_count': 0, 'lik...",1508956994119557121,1508956994119557121,604251708,2022-03-29T23:59:17.000Z,RT @IAmAaronWill: Obesity kills 2.8 million pe...,everyone,NaN,NaN

In [16]:
users[:10]

         user_name                                               text
0          nyy0420  RT @insulinforlife: From IFL USA team to a hos...
1    Phiillychamps  RT @IAmAaronWill: Obesity kills 2.8 million pe...
2  GrammarDomin8rx  RT @insulinforlife: From IFL USA team to a hos...
3          kronty_  @chibijaxie Are you also talking about diabete...
4        stacyjuba  When Writing Gets Derailed: Having A  Child Wi...
5        sxbxstx4n  nada que esta chica se quiere morir de diabete...
6  Newsroomoffical  Surprising benefits of jamun or black plum, fr...
7         denhoz24  RT @IAmAaronWill: Obesity kills 2.8 million pe...
8    jason67248217  @Kip_Andersen do you still stand by ‘What the ...
9     SalereiStick  RT @homeeartsy: ‼️URGENT!! PLEASE HELP WITH IN...

In [20]:
bio[:10]

,user_name,text,URL,Curse,Person,Interjections,Polarity,PolarityPos,PolarityNeg,Subjectivity,Hashtags,Mention,Length,Words
0,nyy0420,RT @insulinforlife: From IFL USA team to a hos...,0,0,0,0,0.400000,1,0,0.400000,0,1,140,24
1,Phiillychamps,RT @IAmAaronWill: Obesity kills 2.8 million pe...,0,0,0,0,0.000000,0,0,0.000000,0,1,140,21
2,GrammarDomin8rx,RT @insulinforlife: From IFL USA team to a hos...,0,0,0,0,0.400000,1,0,0.400000,0,1,140,24
3,kronty_,@chibijaxie Are you also talking about diabete...,0,0,1,0,0.000000,0,0,0.000000,0,1,89,14
4,stacyjuba,When Writing Gets Derailed: Having A Child Wi...,1,0,0,0,0.000000,0,0,0.000000,0,0,88,12
5,sxbxstx4n,nada que esta chica se quiere morir de diabete...,1,0,0,0,0.000000,0,0,0.000000,0,0,76,11
6,Newsroomoffical,"Surprising benefits of jamun or black plum, fr...",1,0,0,0,0.266667,1,0,0.466667,0,0,108,15
7,denhoz24,RT @IAmAaronWill: Obesity kills 2.8 million pe...,0,0,0,0,0.000000,0,0,0.000000,0,1,140,21
8,jason67248217,@Kip_Andersen do you still stand by ‘What the ...,0,0,0,0,0.175000,1,0,0.333333,1,1,201,34
9,SalereiStick,RT @homeeartsy: ‼️URGENT!! PLEASE HELP WITH IN...,0,0,1,0,0.600000,1,0,0.900000,0,1,140,25

In [46]:
#concatenating same user's tweets to the same row
users_concat = []
tweets = []
i=0
while i<len(users[['user_name']])-1:
    user = users.iloc[i]['user_name']
    text = users.iloc[i]['text']
    i = i+1
    while users.iloc[i]['user_name'] == user:
        text = text + '\n' + users.iloc[i]['text']
        i = i+1
    users_concat.append(user)
    tweets.append(text)

In [47]:
list_of_tuples = list(zip(users_concat, tweets))
tweet_per_user = pd.DataFrame(list_of_tuples, columns = ['user_name', 'text'])

In [48]:
df = pd.merge(df, tweet_per_user,how='left' ,on=['user_name'])
df = df.loc[:, df.columns != 'Unnamed: 0_x']
df = df.loc[:, df.columns != 'Unnamed: 0_y']

In [50]:
df = pd.merge(df, bio, how='left' ,on=['user_name'])
df = df.loc[:, df.columns != 'Unnamed: 0_x']
df = df.loc[:, df.columns != 'Unnamed: 0_y']

In [51]:
df = df.fillna(0)